<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace = "/fragments :: header">

</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div th:replace = "fragments :: sidebar" class="sidebar pe-4 pb-3">

        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav th:replace="fragments :: topbar">
            </nav>
            <!-- Navbar End -->

            <!-- Add Product Form Start -->
            <form class="form-horizontal" th:action="@{/save-product}" method="post" enctype="multipart/form-data" th:object = "${product}">
                <fieldset>
                    <!-- Form Name -->
                    <legend>ADD PRODUCTS</legend>

                    <!-- Text input-->
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label" for="product_name" style="margin-top:20px;">PRODUCT NAME</label>
                        <div class="col-md-4">
                            <input id="product_name" th:field = "*{name}" name="product_name" class="form-control input-md" required="" type="text" style="background-color:#d1d1d1;">
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group" style="margin-top:4px;">
                        <label class="col-md-4 control-label" for="categories" style="margin-top:20px;">PRODUCT CATEGORY</label>
                        <div class="col-md-4">
                            <select id="categories" th:field = "*{category}" name="categories" class="form-control">
                                <option th:value = "null">-SELECT-</option>
                                <option th:each = "category : ${categories}"
                                        th:value = "${category.id}"
                                        th:text = "${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group" style="margin-top:4px;">
                        <label class="col-md-4 control-label" for="description" style="margin-top:20px;">PRODUCT DESCRIPTION </label>
                        <div class="col-md-4">
                            <input id="description" th:field = "*{description}" name="description" class="form-control input-md" required="" type="text" style="background-color:#d1d1d1;">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group" style="margin-top:4px;">
                        <label class="col-md-4 control-label" for="available_quantity" style="margin-top:20px;">AVAILABLE QUANTITY</label>
                        <div class="col-md-4">
                            <input id="available_quantity" th:field = "*{currentQuantity}" name="available_quantity" class="form-control input-md" required="" type="text" style="background-color:#d1d1d1;">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group" style="margin-top:4px;">
                        <label class="col-md-4 control-label" for="price" style="margin-top:20px;">PRICE</label>
                        <div class="col-md-4">
                            <input id="price" name="price" th:field = "*{costPrice}" class="form-control input-md" required="" type="text" style="background-color:#d1d1d1;">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group" style="margin-top:4px;">
                        <div class="col-md-4">
                            <!-- File Button -->
                            <div class="form-group" style="margin-top=4px;">
                                <label class="col-md-4 control-label" for="imageProduct" style="margin-top:20px;">Product Image</label>
                                <div class="col-md-4">
                                    <input id="imageProduct" name="imageProduct" class="input-file" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary" style="margin-top:20px;">Save</button>
            </form>

            <!-- Add Product Form Start -->

            <!-- Footer Start -->
            <div th:replace = "fragments :: footer" class="container-fluid pt-4 px-4">
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


    <div th:replace="fragments :: script"></div>

    <script th:src="@{/js/categories.js}"></script>
</body>

</html>